<!DOCTYPE html>

  <head>
    <html lang="pt-br"></html>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu IP {{ip}}</title>
    <meta name="description" content="Meu IP {{ip}}">
    <meta name="cidade" content="CIDADE {{dados.cityName}}">
    <meta name="keywords" content="meu ip">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  </head>
<body>
    {{{body}}}
    {{>footer}}
</body>
</html>