body{
    background-color: rgb(37, 37, 37);
    color: rgb(30, 210, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#alerta{
    text-align: center;
    color: rgb(73, 147, 216);
    font-size: 12px;
}

form input{
    font-weight: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 8px;
    color: rgb(96, 255, 221);
    width: 320px;
    border: 1px solid rgb(104, 104, 104);
}

footer{
    background-color: #0000007a;
    font-size: 10px;
    color: rgb(230, 137, 109);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}